
<div class="hero">
  <%= link_to "サラダをつくる", recipes_index_path %>
</div>
<br>
<div>
  <h1>みんなのサラダ</h1>
  <table border="1" class="dataframe table table-bordered table-hover">
    <thead>
      <tr style="text-align: right;">
        <th>性別</th>
        <th>年齢</th>
        <th>recipe_id</th>
        <th>user_id</th>
        <th>recipe_title</th>
        <th>comment</th>
        <th>image</th>
      </tr>
    </thead>
    <% @reports.each do |report| %>
      <% recipe = Recipe.find(report.recipe_id) %>
      <tbody>
        <tr>
          <td> <%= report.sex %> </td>
          <td> <%= report.age %> </td>
          <td> <%= report.recipe_id %> </td>
          <td> <%= report.user_id %> </td>
          <td> <%= recipe.title %> </td>
          <td> <%= report.comment %> </td>
          <td> <%= image_tag recipe.food_image_url, :style => "height: 120px" %> 
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
