<table border="1" class="dataframe table table-bordered table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>recipeTitle</th>
      <th>recipeIndication</th>
      <th>recipeCost</th>
      <th>recipeMaterial</th>
      <th>image</th>
    </tr>
  </thead>
  <% @recipes.each do |recipe| %>
    <tbody>
      <tr>
        <td> <%= recipe.recipe_title %> </td>
        <td> <%= recipe.recipe_indication %> </td>
        <td> <%= recipe.recipe_cost %> </td>
        <td> <%= recipe.recipe_material.delete('"[]') %> </td>
        <td> <%= image_tag recipe.food_image_url, :style => "height: 120px" %>
        <br>
        <br>
        <%= link_to "つくる", recipe.recipe_url, target: :_blank, rel: "noopener noreferrer"%>
        </td>
      </tr>
    </tbody>
  <% end %>

</table>