<table border="1" class="dataframe table table-bordered table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>recipeTitle</th>
      <th>recipeIndication</th>
      <th>recipeCost</th>
      <th>recipeMaterial</th>
      <th>image</th>
    </tr>
  </thead>
  <% @category_ids.each do |id| %>
    <% sleep 1 %>

    <% uri = URI.parse("https://app.rakuten.co.jp/services/api/Recipe/CategoryRanking/20170426?applicationId=1038863537950891238&categoryId=#{id}") %>
    <% json = Net::HTTP.get(uri) %>

    <% hash = JSON.parse(json) %>
    <% result = hash["result"] %>

    <% result.each do |recipe| %>
      <tbody>
        <tr>
          <td> <%= link_to recipe["recipeTitle"], recipe["recipeUrl"] %> </td>
          <td> <%= recipe["recipeIndication"] %> </td>
          <td> <%= recipe["recipeCost"] %> </td>
          <td> <%= recipe["recipeMaterial"] %> </td>
          <td> <%= link_to (image_tag(recipe["mediumImageUrl"])), recipe["recipeUrl"] %> </td>
        </tr>
      </tbody>
    <% end %>

  <% end %>
</table>