<table border="1" class="dataframe table table-bordered table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>recipeTitle</th>
      <th>recipeIndication</th>
      <th>recipeCost</th>
      <th>recipeMaterial</th>
      <th>image</th>
    </tr>
  </thead>
  <% @recipes.each do |recipe| %>
    <tbody>
      <tr>
        <td> <%= recipe.title %> </td>
        <td> <%= recipe.indication %> </td>
        <td> <%= recipe.cost %> </td>
        <td> <%= recipe.material.delete('"[]') %> </td>
        <td> <%= image_tag recipe.food_image_url, :style => "height: 120px" %>
        <br>
        <br>
        <%= link_to "つくる", create_index_path(recipe_id: recipe.id), onclick: "window.open('#{recipe.url}', '_blank')" %>
        </td>
      </tr>
    </tbody>
  <% end %>

</table>