
<div class="search-box">
  <%= form_with url: recipes_index_path, method: :get, local: true do |f| %>
    <div class="form-group">      
      <%= f.radio_button :jikan , ''%>
      <%= f.label :jikan ,"なんでもいいです", value: '' %>
      <br>
      <%= f.radio_button :jikan ,'5分以内' %>
      <%= f.label :jikan ,"サラダなる食べ物があるそうで", value: '5分以内', style: "display: inline-block;" %>
      <br>
      <%= f.radio_button :jikan ,'約10分' %>
      <%= f.label :jikan ,"皿は用意してあります", value: '約10分', style: "display: inline-block;" %>
      <br>
      <%= f.radio_button :jikan ,'約15分' %>
      <%= f.label :jikan ,"野菜が恋しいかも", value: '約15分', style: "display: inline-block;"%>
      <br>
      <%= f.radio_button :jikan ,'約30分' %>
      <%= f.label :jikan ,"これがサラダモチベーションか", value: '約30分', style: "display: inline-block;" %>
      <br>
      <%= f.radio_button :jikan ,'約1時間' %>
      <%= f.label :jikan ,"サラダのための1時間は1分", value: '約1時間', style: "display: inline-block;" %>
      <br>
      <%= f.radio_button :jikan ,'1時間以上' %>
      <%= f.label :jikan ,"サラダになりたいなーぁぁぁ！！", value: '1時間以上', style: "display: inline-block;" %>
      <br>
      <p>材料で検索</p>
      <%= f.text_field :zairyou, class: "form-control"%>
      <%= f.submit 'サラダのレシピを検索', class: "form-control btn btn-success"%>
    </div>
  <% end %>
</div>

<div>
  <% if @recipes.present? %>
    <%= render partial: 'result'%>
  <% else %>
    <p>検索条件を変えてみてね</p>
  <% end %>
</div>