<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>


<div class="container px-10">
  <table class="table-auto">
    <tbody>
        <tr>
          <td>表紙<td>
          <td>タイトル<td>
          <td>著者</td>
          <td>価格<td>
        </tr>
      <% @books.each do |book| %>
        <tr>
          <td><%= image_tag book.medium_image_url %><td>
          <td><%= book.title %><td>
          <td><%= book.author %></td>
          <td><%= book.item_price %><td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%
=begin%>
 ×<%= book.titleKana %>
 ◯<%= book.title_kana %>
<%
=end%>
