<p>作ってくれてありがとう</p>

<div>
  <table border="1" class="dataframe table table-bordered table-hover">
    <thead>
      <tr style="text-align: right;">
        <th>recipeTitle</th>
        <th>recipeIndication</th>
        <th>recipeCost</th>
        <th>recipeMaterial</th>
        <th>image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= @recipe.recipe_title %> </td>
        <td> <%= @recipe.recipe_indication %> </td>
        <td> <%= @recipe.recipe_cost %> </td>
        <td> <%= @recipe.recipe_material.delete('"[]') %> </td>
        <td> <%= image_tag @recipe.food_image_url, :style => "height: 120px" %>
      </tr>
    </tbody>
  </table>
</div>

<div class="accept-box">
  <%= form_with url: create_post_path, method: :post, local: true do |f| %>
    <div class="form-group">
      <% if session[:user_id] %>
        <% f.hidden_field :user_id, :value => session[:user_id] %> 
      <% end %>
      <%= f.hidden_field :recipe_id, :value=> @recipe.id %>
      <%= f.label :sex, '性別' %>
      <%= f.select :sex, {'男性': '男性', '女性': '女性'},
                          { include_blank: '選択してください'},
                          { class: 'form-control' , required: true } %>
      <%= f.label :age, '年齢' %>
      <%= f.select :age, {'20代未満': '20代未満', '20代': '20代', '30代': '30代',
                          '40代': '40代', '50代': '50代', '60代以上': '60代以上'},
                          { include_blank: '選択してください'},
                          { class: 'form-control' , required: true } %>
      <%= f.submit '投稿する', class: "form-control btn btn-success"%>
    </div>
  <% end %>
 </div>

